 body{
     margin: 0%;
     padding: 0%;
     flex: 1;
     -ms-overflow-style: none;  
  scrollbar-width: none; 
 }

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 5vh;
    overflow: hidden;
    align-items: flex-start;
    height: auto;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

 .info .covidBanner{  
   display: block;
   align-self: flex-start;
   left: 0px;
    width: 50%; 
    height: 100%;
 }
 .info .covidBanner img{  
    left: 0px;
    width: 100%; 
 }
body::-webkit-scrollbar {
  display: none;
}

.covidCases{
    display: flexbox;
    align-self: flex-end;
    width: 30vw;
    
}
.covidCards{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}
.covidCard {
  display: flexbox;
  overflow: hidden;
  height: 14vh;  
  max-width: 30vw;
  width: 300px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: Abel;
  font-size: 1.5rem;
  background-color:  #111a1d;
  border-radius: 5%;
  margin: 5vh;
  text-align: center;
  box-shadow: -10px 10px rgb(207, 190, 190);
}
 #discharged{
     font-weight: bold;
     font-size: 1.8rem;
    color: rgb(153, 245, 16);
}
 #deaths{
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: red;
}
 #positivecases{
    font-weight: bold;
    font-size: 1.8rem;
    color: rgb(255, 115, 0);
}








/*THIS IS ADDED*/
@import url('./fonts.css');
html,body{
           margin:0%;
           font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
           box-sizing: border-box;
           overflow-x: hidden;
           max-width: 100vw;
}
:root{
    /*------------colors------------------*/
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:rgba(18, 87, 94,0.9);
    /*-------gradient colors---------------*/
    --sky: linear-gradient(120deg, #4485ee 0%, #74caf1 100%);

}
/*------------------universal elements--------------------*/
a{
    text-decoration: none;
    color: var(--white);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
/*-------*----------universal elements--------*-----------*/
/*------------------navigation--------------------*/
.nav{
    background:rgba(9, 11, 13,0.9);
    padding: 0 2rem;
    height: 0rem;
    min-height: 9vh;
    overflow: hidden;
    border-bottom: solid 3px rgba(80, 77, 77,1);
    max-width: 100vw;
}
.nav .nav-menu{
    justify-content: space-between;

}
.nav .toggle-collapse{
    position:absolute;
    top:0%;
    width:88%;
    cursor:pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;

}
.nav .toggle-collapse .toggle-icons i{
   color:white;
   font-size:1.4rem;
}
.nav .nav-brand a{
              
    font-size: 1.8rem;
    padding: 1.4rem 0;
    letter-spacing: 1px;
    display: block;
    font-family: 'Lexend_Deca';
}

.nav .nav-items{
    display: flex;
    margin: 0;
    
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size:1.3rem; 
    position: relative;
    font-family: Livvic;
    letter-spacing: 1px;
    font-weight: 600;
}
.nav .nav-items .nav-link:hover{
    background-color:var(--midnight);
    
}
.nav .nav-items .nav-link:hover a{
    color:var(--white);
}
.nav .social{
    padding:1.4rem 0;
}
.nav .social i{
    padding: 0.6rem 0.8rem;
}
.nav .social i:hover{
    color:#08c0f8;
}
.nav .social  a:hover{
     color: #08c0f8;
}
.collapse{
    height: 36rem;
}
/*----------*-------navigation--------*-----------*/

/*view port less than or equal to 750px*/
@media only screen and (max-width:1016px){
    .nav .nav-menu,.nav .nav-items{
        flex-direction: column;

    }
    .nav .toggle-collapse{
        display: initial;
    }
    /*info section styling*/
    .info{
        flex-direction: column;
        background-color: #e0a72a;
    }
    .info .covidBanner{
        align-self: center ;
        width: 100vw;
    }
    .info .covidCases{
        align-self: center ;
        width: 100vw;
        background-image: var(--sky);
    }
    .info .covidCases .covidCard{
        align-self: center ;
        max-width: 80vw;
        margin: 10vh;
    }
    
    /*info styling ends*/
    
}